<div>
    <!--<a class="internal-link" href="{{ site.baseurl }}/">--><b>{{ site.title }}</b><!--</a>--> / {{ page.title }}
    <!--
    <span class="internal-link"><b>{{ site.title }}</b></span>
    -->
    <br>
    <a class="internal-link" href="https://dhirajyadav.site/">About</a>&nbsp·&nbsp<a class="internal-link" href="https://dhirajyadav.site/garden">Garden</a>&nbsp·&nbsp<a class="internal-link" href="https://dhirajyadav.site/useful_resources">Resources</a>&nbsp·&nbsp<a class="internal-link" href="https://dhirajyadav.site/contact">Contact</a>
</div>
